{{! This is the post loop - each post will be output using this markup }}

<section class="posts content-expanded">
<article class="welcome">
    <div class="welcome-content">
        <h2 class="welcome-content-title">Welcomes</h2>
        <h5 class="welcome-content-description">Bla blah vlad Bla blah vla Bla blah vlaBla blah vla</h5>
        <img src="sds.png" alt="">
        <p class="welcome-content-text">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis accusamus repudiandae illum, expedita, dolorum laboriosam quisquam praesentium rerum rem laudantium corrupti eligendi magni tempora minus, quibusdam adipisci eaque dolores cum.
        </p>
        <p class="welcome-content-text">
            Lore plicabo error in nulla consequuntur voluptatibus necessitatibus, laboriosam reiciendis. Facere, nobis.
        </p>
    </div>
    
</article>

{{! Aqui Seran las TAGS 
    <div clas="tags">
        <h4>lear tuday?</h4>
        <a href="tags/html" class="tags-item">HTML5</a>
        <a href="tags/css" class="tags-item">Css3</a>
        <a href="tags/javascript" class="tags-item">JavaScript</a>
        <a class="tags-item">life!</a>
    </div>
}}

<section class="content flex">
    {{#foreach posts}}
    <article class="{{post_class}} post">
        {{#if image}}
            <figure class="post-image">
                <a href="{{url}}">
                    <img src="{{image}}" alt="{{title}}" class="index-post-image" style="width:100%; box-shadow:0; margin:0;">
                </a>
            </figure>
        {{/if}}

        <div class="post-info">
            <header class="post-header">
                <h2 class="post-title">
                    <a href="{{url}}">{{{title}}}</a>
                </h2>
                <footer class="post-meta">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                        {{date format="DD MMMM YYYY"}}
                    </time>
                </footer>
            </header>
            <section class="post-excerpt">
                <p>{{excerpt words="30"}} . . . 
                    <a class="read-more" href="{{url}}">Leér Más</a>
                </p>
            </section>
        </div>
    </article>
    {{/foreach}}
</section>


    
    {{> "mail"}}

    
</section> 


    {{pagination}}
{{> "footer"}}