{{! This is the post loop - each post will be output using this markup }}

<section class="posts content-expanded">
<section class="content flex">
    {{#foreach posts}}
    <article class="{{post_class}} post">
        {{#if image}}
            <figure class="post-image">
                <a href="{{url}}">
                    <img src="{{image}}" alt="{{title}}" class="index-post-image" style="width:100%; box-shadow:0; margin:0;">
                </a>
            </figure>
        {{/if}}

        <div class="post-info">
            <header class="post-header">
                <h2 class="post-title">
                    <a href="{{url}}">{{{title}}}</a>
                </h2>
                <footer class="post-meta">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                        {{date format="DD MMMM YYYY"}}
                    </time>
                </footer>
            </header>
            <section class="post-excerpt">
                <p>{{excerpt words="30"}} . . . 
                    <a class="read-more" href="{{url}}">Leér Más</a>
                </p>
            </section>
        </div>
    </article>
    {{/foreach}}


</section>

 {{pagination}}
    
  {{> "mail"}}

 {{> "footer"}}  
</section> 


   
